<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Backbone and Leveraging the Power of Open Source</title>

    <meta name="description" content="Backbone and Leveraging the Power of Open Source">
    <meta name="author" content="Jide Osan">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/squareknot.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="reveal">
      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section data-transition="fade">
          <div class="squareknot logo">
            <img src="assets/logo-green.svg" title="Squareknot" alt="Squareknot" height="500" width="500">
          </div>
          <p>
            <small><a href="mailto">jide@squareknot.com</a> / <a href="http://twitter.com/jideosan">@jideosan</a></small>
            <small><a href="mailto">ian@squareknot.com</a> / <a href="http://twitter.com/jideosan">@ianmstew</a></small>
          </p>
        </section>
        <section>
          <p>Squareknot is a way to make beautiful, branching step by step guides.</p>
        </section>
        <section data-background="assets/images.png"></section>
        <section data-transition="fade" data-background="assets/projects.png"></section>
        <section data-transition="fade" data-background="assets/branches.png"></section>
        <section>
          <p>We can learn a lot from each other by <span class="bluetext">sharing</span> our ideas and <span class="bluetext">collaboratively</span> working together to <span class="bluetext">improve</span> them</p>
        </section>
        <section>
          <div class="squareknot logo">
            <img src="assets/logo-green.svg" title="Squareknot" alt="Squareknot" height="500" width="500">
          </div>
          <h2 style="margin-top: -120px">SQUAREKNOT</h2>
        </section>
        <section>
          <h3>Project Viewer Requirements</h3>
          <ol>
            <li class="fragment">
              <h4>Three Application States</h4><small>Overview State, Step State, Branch State</small>
            </li>
            <li class="fragment">
              <h4>State Interpretation</h4><small>States of Steps and Nodes depend on Application State</small>
            </li>
            <li class="fragment">
              <h4>Multiple Sources</h4><small>States are based on data models and user interaction</small>
            </li>
          </ol>
        </section>
        <section>
          <h3>State Architecture</h3>
          <ol>
            <li class="fragment">
              <h4>Core Backbone philosophy</h4>
              <small>View renders model; view updates when a model changes.</small>
            </li>
            <li class="fragment">
              <h4>Implementation</h4>
              <small>Each and every change to the DOM corresponds to a model change.</small>
            </li>
            <li class="fragment">
              <h4>Perfected implementation</h4>
              <small>The view is <em>only</em> responsible for "dumb" updates.</small>
            </li>
            <li class="fragment">
              <h4>What about presentation logic?</h4>
            </li>
          </ol>
        </section>
        <section>
          <h3>State Architecture</h3>
          <img class="diagram" src="https://docs.google.com/drawings/d/13_kBAF5IIl2MbJkPDo4rj_U0VG-QKRv8mWkkwYIJFPI/pub?w=960&amp;h=720">
        </section>
        <section>
          <h3>Application State</h3>
          <img class="diagram" src="https://docs.google.com/drawings/d/1pCjl-YrmWafHQJ8v3LqBmpaUsH6aeer4JA8dlHm4lpA/pub?w=915&amp;h=618">
        </section>
        <section>
            <h3>Application State:Domain</h3>
            <p>Goal: Create and Manage Persisted Entities</p>
            <pre>
                <code data-trim style="font-size:14px; line-height:14px">
        ProjectDomainService = Marionette.Object.extend({
        
        initialize: function () {
            this.createEntities();
            this.channel = Radio.channel('project');
        },
        
        start: function(data){
            this.setEntities(data);
            this.fetchEntities(data);
        },
        
        //Getters and Setters
        getProject: function () {
            return this.models.projectModel;
        },
        
        getSteps: function () {
            return this.collections.stepsCollection;
        },
        
        getStep: function ( id ) {
            return this.collections.stepsCollection.findWhere({ id: id });
        },
        
        getCurrentStep: function () {
            var row = this.channel.request('state:row');
            var step = this._rowToStep(row);
            return this.getStep(step);
        },...
                </code>
            </pre>
        </section>
        <section>
            <h3>Application State:StateMachine</h3>
            <p>Goal: Compute State based on Domain and User Interactions</p>
            <pre>
                <code data-trim style="font-size:14px; line-height:14px">
        var ProjectStateService = Marionette.Object.extend({
        
        initialize: function (domain) {
            this.domain = domain;
        },
        start: function() {
            this.stateModel = new State();
            this.channel = Radio.channel('project');
            this.createFSM();
            this.listenTo(this.channel, 'domain:fetched', this.setState);
            this.listenTo(this.channel, 'domain:fetching', this.setLoadingState);
            this.listenToOnce(this.stateModel, "change", function(){ this.channel.trigger('domain:ready');});
            this.listenTo(this.stateModel, 'all', function(event, arguments){ this.channel.trigger('state:'+event, arguments) });
            ...
        },
        
        stop: function(){
            ...
        },
        
        //Getters and Setters
        setLoadingState: function(){
            this.stateMachine.handle('loading');
        },
        
        setState: function (data) {
            this.stateMachine.setRow(data.row);
            this.stateMachine.setColumn(data.column);
            this.stateMachine.handle('loaded');
        },
        
        getState: function (attribute) {
            if(attribute){
                return this.stateModel.get(attribute);
            }
            return this.stateModel;
        },
        
        changeState: function (event, parameters) {
            this.stateMachine.handle(event, parameters);
        },
        
        createFSM: function(){
            var self = this;
            this.stateMachine = new machina.Fsm({
                initialState: "loading",
                parent: self,
                stateModel: this.stateModel,
                inputs: {
                    row: 0,
                    column: 0
                },
        
                states : {
                    'loading': {
                        _onEnter: function() {
                            debugLogger.log('Loading...');
                        },
        
                        _onExit: function() {
                            debugLogger.log('Loaded');
                        },
        
                        'loaded': function(){
                            if(this.inputs.row === 0){
                                this.setColumn(0);
                                this.transition('cover');
                            }
                            else{
                                if(this.inputs.column === 0){
                                    this.transition('steps');
                                }
                                else{
                                    this.transition('column');
                                }
                            }
                        }
                    },
        
                    "cover" : {
                    _onEnter: function() {
                        ...
                    },
        
                    _onExit: function() {
                        ...
                    },
        
                    "loading": function(){
                        this.transition('loading');
                    },
        
                    "focus:cover" : function() {
                        this.setRow(0);
                        this.setColumn(0);
                        this.stateModel.set(this.inputs);
                    },
        
                    "focus:row" : function( row ) {
                        debugLogger.log('cover to step');
                        this.setRow(row);
                        this.transition('steps');
                    }
        
                },
        
        "steps" : {
        _onEnter: function() {
        debugLogger.log('enter steps State');
        this.handle('focus:row')
        },
        
        _onExit: function() {
        debugLogger.log('exit steps State');
        },
        
        "loading": function(){
        this.transition('loading');
        },
        
        "focus:row" : function( row ) {
        debugLogger.log('step state model change');
        this.setRow(row);
        // Only reset column if row has changed
        //TODO: Row shouldnt change is column is changing
        if (row && row !== this.stateModel.get('row')) {
        this.setColumn(0);
        }
        this.stateModel.set(this.inputs);
        },
        
        "focus:cover" : function() {
        debugLogger.log('step to cover');
        this.transition('cover');
        },
        
        "focus:column" : function( column ) {
        debugLogger.log('step to column');
        this.setColumn(column);
        this.transition('columns');
        }
        },
        
        "columns" : {
        _onEnter: function() {
        debugLogger.log('enter columns State');
        this.handle('focus:column');
        },
        
        _onExit: function() {
        debugLogger.log('exit columns State');
        },
        
        "loading": function(){
        this.transition('loading');
        },
        
        "focus:column" : function( column ) {
        debugLogger.log('column state model change');
        this.setColumn(column);
        this.stateModel.set(this.inputs);
        },
        
        "focus:row" : function( row ) {
        debugLogger.log('columns to step');
        if(this.inputs.row !== row ){
        debugLogger.log('CANT TRANSITION BETWEEN DIFFERENT STEPS IN column STATE');
        }
        this.transition('steps');
        }
        }
        }
        });
        }
                </code>
            </pre>
        </section>
        <section>
            <h3>Application State:Domain</h3>
            <p>Goal: Create and Manage Persisted Entities</p>
            <pre>
                <code data-trim style="font-size:14px; line-height:14px">
        ProjectDomainService = Marionette.Object.extend({
        
        initialize: function () {
            this.createEntities();
            this.channel = Radio.channel('project');
        },
        
        start: function(data){
            this.setEntities(data);
            this.fetchEntities(data);
        },
        
        //Getters and Setters
        getProject: function () {
            return this.models.projectModel;
        },
        
        getSteps: function () {
            return this.collections.stepsCollection;
        },
        
        getStep: function ( id ) {
            return this.collections.stepsCollection.findWhere({ id: id });
        },
        
        getCurrentStep: function () {
            var row = this.channel.request('state:row');
            var step = this._rowToStep(row);
            return this.getStep(step);
        },...
                </code>
            </pre>
        </section>
        <section>
          <h3>Component State</h3>
          <img class="diagram" src="https://docs.google.com/drawings/d/1peyHnNJJAHnzmvdfexfH5XMS--yUbd8TdmGVME7O65k/pub?w=915&amp;h=618">
        </section>
        <section>
          <h3>Component State</h3>
          <img class="diagram" src="https://docs.google.com/drawings/d/1zkX41zRvZ5jxdfDL0VGXvC4T73BtEXSCJ_-idNY1N0Q/pub?w=915&amp;h=618">
        </section>
        <section>
          <h3>Marionette.StateService</h3>
          <h4>State-aware container for business logic</h4>
          <ul>
            <li>Creates its own state model by default</li>
            <li>May instead bind to an existing model</li>
            <li>Delegates set/get to state model</li>
          </ul>
        </section>
        <section>
          <h3>Marionette.StateService</h3>
          <h4>Usage</h4>
          <ol>
            <li>Initialize state attributes with <pre class="inline">defaultState</pre> hash.</li>
            <li>Bind handlers to event emitters or models using <pre class="inline">this.bindEntityEvents(...)</pre>.</li>
            <li>Call <pre class="inline">this.stateSet(...)</pre> as the last statement of each handler.</li>
          </ol>
        </section>
        <section>
          <h3>Marionette.StateService</h3>
          <h4>Installation</h4>
          <ol>
            <li><a href="https://github.com/Squareknot/marionette.state-service" target="_blank">https://github.com/Squareknot/marionette.state-service</a></li>
            <li><pre class="inline">npm install marionette.state-service</pre></li>
            <li><pre class="inline">bower install marionette.state-service</pre></li>
          </ol>
        </section>
        <section>
          <h3>Questions</h3>
        </section>
        <section>
          <div class="squareknot logo">
            <img src="assets/angularjs-shield.svg" title="Angular" alt="Angular" height="150" width="150">
          </div>
          <pre><code data-trim style="font-size:12px">
        <script src="lib/js/angular.min.js"></script>
        <div>
        <label>Name:</label>
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <span>Hello {{yourName}}!</span>
        </div>
          </code></pre>
        
          <script src="lib/js/angular.min.js"></script>
          <div ng-app>
            <div>
              <label>Name:</label>
              <input type="text" ng-model="yourName" placeholder="Enter a name here">
              <span>Hello {{yourName}}!</span>
            </div>
          </div>
        </section>
        
        <section>
          <div class="squareknot logo">
            <img src="assets/backbone.svg" title="Backbone" alt="Backbone" height="150" width="150">
          </div>
          <div>
        
            <pre><code data-trim style="font-size:12px; line-height:14px">
        <script src="lib/js/jquery-2.1.3.min.js"></script>
        <script src="lib/js/underscore-min.js"></script>
        <script src="lib/js/backbone-min.js"></script>
        <div id="backbone_form">
        <label>Name:</label> <input class="backbone_input" type="text" placeholder="Enter a name here">
        <span class="backbone_output">Hello !</span>
        </div>
            </code></pre>
          </div>
        
          <div>
        
            <pre><code data-trim style="font-size:12px; line-height:14px">
        var NameOutputView = Backbone.View.extend({
        template: _.template("Hello <%- name %>!"),
        el: "#real_backbone_form",
        events: {
        "keyup .backbone_input":    "updateModel"
        },
        updateModel: function(e){
        var name = $(e.currentTarget).val();
        this.model.set({name:name});
        },
        initialize: function() {
        this.listenTo(this.model, "change", this.render);
        },
        render: function() {
        this.$el.children('.backbone_output').html(this.template(this.model.attributes));
        return this;
        }
        });
        new NameOutputView({ model: new Backbone.Model({name:null}) });
            </code></pre>
        
            <div id="real_backbone_form">
              <label>Name:</label>
              <input class="backbone_input" type="text" placeholder="Enter a name here">
              <span class="backbone_output">Hello !</span>
            </div>
          </div>
          <script src="lib/js/jquery-2.1.3.min.js"></script>
          <script src="lib/js/underscore-min.js"></script>
          <script src="lib/js/backbone-min.js"></script>
          <script>
              var NameOutputView = Backbone.View.extend({
                template: _.template("Hello <%- name %>!"),
                el: "#real_backbone_form",
                events: {
                  "keyup .backbone_input":    "updateModel"
                },
                updateModel: function(e){
                  var name = $(e.currentTarget).val();
                  this.model.set({name:name});
                },
                initialize: function() {
                  this.listenTo(this.model, "change", this.render);
                },
                render: function() {
                  this.$el.children('.backbone_output').html(this.template(this.model.attributes));
                  return this;
                }
              });
              new NameOutputView({ model: new Backbone.Model({name:null}) });
          </script>
        
          </section>
        
        <section>
          <h3>Demo: Backbone Source</h3>
        </section>
        
        <section>
          <h3>Demo: Gitter</h3>
        </section>
        
        <section>
          <h2>contribute!</h2>
        </section>
        
        <section data-transition="fade">
          <h3>Closing Thoughts</h3>
          <p>Important for Companies</p>
          <p>Join MeetUps</p>
          <p>Start Today</p>
        </section>
        
      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script>
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
    </script>
  </body>
</html>
