<section>
  <div class="squareknot logo">
    <img src="assets/angularjs-shield.svg" title="Angular" alt="Angular" height="150" width="150">
  </div>
  <pre><code data-trim style="font-size:12px">
<script src="lib/js/angular.min.js"></script>
<div>
<label>Name:</label>
<input type="text" ng-model="yourName" placeholder="Enter a name here">
<span>Hello {{yourName}}!</span>
</div>
  </code></pre>

  <script src="lib/js/angular.min.js"></script>
  <div ng-app>
    <div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <span>Hello {{yourName}}!</span>
    </div>
  </div>
</section>

<section>
  <div class="squareknot logo">
    <img src="assets/backbone.svg" title="Backbone" alt="Backbone" height="150" width="150">
  </div>
  <div>

    <pre><code data-trim style="font-size:12px; line-height:14px">
<script src="lib/js/jquery-2.1.3.min.js"></script>
<script src="lib/js/underscore-min.js"></script>
<script src="lib/js/backbone-min.js"></script>
<div id="backbone_form">
<label>Name:</label> <input class="backbone_input" type="text" placeholder="Enter a name here">
<span class="backbone_output">Hello !</span>
</div>
    </code></pre>
  </div>

  <div>

    <pre><code data-trim style="font-size:12px; line-height:14px">
var NameOutputView = Backbone.View.extend({
template: _.template("Hello <%- name %>!"),
el: "#real_backbone_form",
events: {
"keyup .backbone_input":    "updateModel"
},
updateModel: function(e){
var name = $(e.currentTarget).val();
this.model.set({name:name});
},
initialize: function() {
this.listenTo(this.model, "change", this.render);
},
render: function() {
this.$el.children('.backbone_output').html(this.template(this.model.attributes));
return this;
}
});
new NameOutputView({ model: new Backbone.Model({name:null}) });
    </code></pre>

    <div id="real_backbone_form">
      <label>Name:</label>
      <input class="backbone_input" type="text" placeholder="Enter a name here">
      <span class="backbone_output">Hello !</span>
    </div>
  </div>
  <script src="lib/js/jquery-2.1.3.min.js"></script>
  <script src="lib/js/underscore-min.js"></script>
  <script src="lib/js/backbone-min.js"></script>
  <script>
      var NameOutputView = Backbone.View.extend({
        template: _.template("Hello <%- name %>!"),
        el: "#real_backbone_form",
        events: {
          "keyup .backbone_input":    "updateModel"
        },
        updateModel: function(e){
          var name = $(e.currentTarget).val();
          this.model.set({name:name});
        },
        initialize: function() {
          this.listenTo(this.model, "change", this.render);
        },
        render: function() {
          this.$el.children('.backbone_output').html(this.template(this.model.attributes));
          return this;
        }
      });
      new NameOutputView({ model: new Backbone.Model({name:null}) });
  </script>

  </section>

<section>
  <h3>Demo: Backbone Source</h3>
</section>

<section>
  <h3>Demo: Gitter</h3>
</section>

<section>
  <h2>contribute!</h2>
</section>

<section data-transition="fade">
  <h3>Closing Thoughts</h3>
  <p>Important for Companies</p>
  <p>Join MeetUps</p>
  <p>Start Today</p>
</section>
